:root {
  --color-orange-primary: #e94e1b;
  --color-orange-secondary: #fbdbd0;
  --color-orange-tertiary: #fef6f3;
  --color-dark-primary: #1c374a;
  --font-family-base: "Almarai", -apple-system, Roboto, Helvetica, sans-serif;
}
